* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.about-container {
  background: url("./Images/About-us-back.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}

.about-us-info p {
  color: #fefefe;
  position: absolute;
  top: 155px;
  left: 338px;
  width: 554px;
  font-size: 45px;
  border: 15px solid;
  padding: 31px 20px;
}

.header-2 {
  position: sticky;
  top: 0;
}

@media screen and (max-width: 1100px) {
  .about-us-info p {
    left: 40px;
    top: 26%;
  }
  .about-container {
    overflow: hidden;
  }
}

@media screen and (max-width: 550px) {
  .about-us-info p {
    color: #fefefe;
    position: absolute;
    top: 170px;
    width: 78%;
    left: 43px;
    font-size: 21px;
    border: 10px solid;
    padding: 21px;
  }
  .about-container {
    overflow: hidden;
  }
}
