* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  display: flex;
  justify-content: space-around;
  height: 70px;
  z-index: 999;
  position: relative;
  width: 100%;
}

.nav-links {
  display: flex;
  margin-top: 20px;
}
.nav-links li a {
  text-decoration: none;
  padding: 0px 10px;
  position: relative;

  margin: 0px 10px;
}

li {
  list-style: none;
}

.nav-logo {
  border-radius: 50%;
  height: 60px;
  margin-top: 2px;
}

a::after {
  content: "";
  position: absolute;
  left: 0px;
  bottom: -10px;
  width: 0;
  height: 3px;
  background-color: black;
  margin: 2px;
  transition: width 0.3s ease-in;
}

a:hover::after {
  width: 100%;
}

.burger {
  display: none;
  cursor: pointer;
}

.burger > div {
  width: 32px;
  height: 3px;
  background-color: black;
  margin: 4px;
  position: relative;
  top: 17px;
  left: 21px;

  transition: all 0.3s ease-in;
}

@media screen and (max-width: 850px) {
  .burger {
    display: block;
  }

  .nav-links {
    position: absolute;
    top: 0px;
    background-color: aquamarine;
    width: 100%;
    height: 40vh;
    z-index: -1;
    transform: translateY(-200%);
    transition: transform 0.3s ease-in-out;
    flex-direction: column;
  }
  .nav-links li {
    position: relative;
    top: 75px;
    margin-top: 20px;
    text-align: center;
  }
  a::after {
    content: none;
  }
}

.nav-active {
  transform: translateY(0%);
}

.toogle .bar-1 {
  transform: rotate(-45deg) translate(-18px, -14px);
}
.toogle .bar-2 {
  opacity: 0;
}
.toogle .bar-3 {
  transform: rotate(45deg) translate(-22px, 8px);
}

/* -------------------[Menu Section]------------------------ */
.menu {
  background-image: url("./Images/back.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 80vh;
  position: relative;
  top: -70px;
}

.main-heading {
  position: absolute;
  top: 288px;
  right: 265px;
  padding: 50px;
  font-size: 80px;
}
.btn {
  margin-left: 10px;
  font-size: 20.8p;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  background-color: #dec0f1;
  transition: all 0.2s;
}
.btn:active {
  transform: scale(0.95);
}

/* ----------------------[Why choose us]-------------------------- */

.heading > h2 {
  text-align: center;
  font-size: 32px;
  text-transform: uppercase;
  letter-spacing: 6px;
  line-height: 2;
}
.container {
  display: flex;
  justify-content: space-around;
  padding: 50px;
}

.container .right-c img {
  height: 100%;
  width: 100%;
  border-radius: 20px;
}

.container .left-c {
  padding: 30px;
  font-size: 24px;
  margin-top: 7px;
  line-height: 2;
  letter-spacing: 3px;
}

.chooseus-points {
  margin-top: 36px;
}
.chooseus-points li {
  list-style: disc;
}

.container .left-c p span {
  padding: 50px;
  margin-bottom: 10px;
}

/* ------------------------------[we provide better service section]------------------------------------ */

.services-image {
  display: flex;
  padding: 0px 50px;
}

.our-services .heading h2 {
  margin-bottom: 80px;
}
.box {
  cursor: pointer;
  display: inline-block;
  height: 540px;
  margin-left: 100px;
}
.box img {
  height: 450px;
  position: absolute;
  border-radius: 40px;
  width: 671px;
}

.box .hidden-text {
  position: relative;
  /* padding: 0px 841px; */
  right: 110px;
  padding: 0px 117px;
  top: 116px;
}
.box .hidden-text p {
  opacity: 0;
  font-size: 24px;
  color: #ffff;

  transition: all 0.4s;
}

.box:hover p {
  opacity: 1;
}
.box:hover img {
  filter: blur(8px);
  transition: filter 0.1s ease-in;
}

img.image-1 {
  margin-left: -45px;
}

img.image-2 {
  margin-left: -12px;
}

img.image-3 {
  margin-left: -63px;
}
.hidden-text.text-2 {
  margin-left: 114px;
}
.hidden-text.text-3 {
  margin-left: 112px;
  margin-bottom: 36px;
}

.box h1 {
  margin-bottom: 30px;
  text-align: center;
}
